
<html>
    <head>
        <title>soil testing system</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
       <style>
           h2 a {
        color: #C25100;
    }
    p{
        color:darkred;
    }
       </style>
    </head>
<body>
    <div class="page-header">
        <h2><a href="/">gback</a></h2>
        <p>This soil data belongs to puthuru and sulya, Soil Tested in Government soil test center Mangalore</p>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>